body{
    margin:0%;
}

.tela-cadastro {
  height: auto;          /* altura total da tela */
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;
  text-align: center;     /* centraliza vertical */
}

.card {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 30%;
  height: auto;
  align-items: center;
}

mat-form-field{
  width: 100%;
  margin-top: 8%;
} 
mat-form-field.field-email{
  margin-top: 20%;
}

button.acessar{
   margin-top: 10%;
    width: 100%;
}

.link-pagina-cadastro{
  margin-top: 3%;
  width: 100%;
  text-align: center;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.26) !important; 
}

.senhaErro ul{
  list-style-type: none; 
  text-align: left;
}

li {
  display: flex;
  align-items: center;
  gap: 6px;
}

span.senha-sem-erro{
  color: green;
}


mat-icon.senha-sem-erro{
  color: green;
}


.card-footer {
  padding: 16px;
}