<div class = "tela-cadastro"> 
    <mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Crie a sua conta. É grátis!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class = "introducao">Nos informe alguns dados para que possamos melhorar a sua experiência na MotosBr.</p>
        <div class="divisor-cadastro">
             
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>CPF</mat-label>
                <input id = "Inputcpf" matInput 
                    placeholder="000.000.000-00"
                    maxlength="14"
                    formControlName="cpf"
                    (blur)="updateErrorMessage()"
                    (input)="mascaraCpfHtml()"
                    required
                />
                <mat-error *ngIf="form.get('cpf')?.invalid && form.get('cpf')?.touched">
                    {{ errorMessageCpf() }}
                </mat-error>
                <mat-hint>Digite apenas números</mat-hint>
                    
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>Nome Completo</mat-label>
                <input id = "InputNome" matInput 
                    formControlName="nomeCompleto"
                    (blur)="updateErrorMessage()"
                    required
                />
                <mat-error *ngIf="form.get('nomeCompleto')?.invalid && form.get('nomeCompleto')?.touched">
                    {{ errorMessageNome() }}
                </mat-error>
                <mat-hint>Digite seu nome completo</mat-hint>       
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>Como você quer ser chamado(a)?</mat-label>
                <input id = "InputnomePublico" matInput 
                    placeholder = "Exemplo: João S."
                    formControlName="nomePublico"
                    required
                />
                <!-- <mat-error *ngIf="form.get('nomePublico')?.invalid && form.get('nomePublico')?.touched">
                    {{ errorMessagenomePublico() }}
                </mat-error> -->      
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>Data de nascimento</mat-label>
                <input id = "InputDataNascimento" matInput 
                    required
                    formControlName="dataNascimento" 
                    placeholder="DD/MM/AAAA" 
                    maxlength="10"
                    (input)="aplicarMascaraData($event)" 
                    (blur)="updateErrorMessage()"
                />
                <!--$event pega os dados da tag HTML e passa como parametro para a função no TS. -->

                <mat-error *ngIf="form.get('dataNascimento')?.invalid && form.get('dataNascimento')?.touched">
                    {{ errorMessageDataNascimento() }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" appearance= "outline" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input class = "caixa-email"
                    matInput
                    placeholder="pat@example.com"
                    formControlName="email"
                    (blur)="updateErrorMessage()"
                    required
                    />
                <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    {{ errorMessageEmail() }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>Senha</mat-label>
                <input id = "InputSenha" matInput [type]="hide() ? 'password' : 'text'" 
                    required
                    formControlName="senha"  
                    minlength="8"
                    maxlength="50"
                />
                <button
                matIconButton
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
                type="button"
                >

                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <!--$event pega os dados da tag HTML e passa como parametro para a função no TS. -->
                <mat-error *ngIf="!form.get('senha')?.valid && form.get('senha')?.touched">
                    {{ errorMessageSenha() }}
                </mat-error>
            </mat-form-field>
            <div class = "senhaErro">
                <p>Para sua segurança, crie uma senha com no mínimo:</p>
                <ul>
                    <!-- <li *ngFor="let i of errorMessageSenha">
                        {{ i }}
                    </li> -->
                    <li>
                        @if (form.get('senha')?.value?.length >= 8) {
                            <mat-icon class="senha-sem-erro" fontIcon="check_circle"></mat-icon>
                            <span class="senha-sem-erro">8 ou mais caracteres</span>
                        } @else {
                            <mat-icon class="senha-com-erro" fontIcon="close"></mat-icon>
                            <span class="senha-com-erro">8 ou mais caracteres</span>
                        }
                    </li>
                    <li>
                         @if (form.get('senha')?.hasError('semLetraMaiuscula') || !form.get('senha')?.value ) {
                            <mat-icon class="senha-com-erro" fontIcon="close"></mat-icon>
                            <span class="senha-com-erro">Uma letra maiúscula</span>
                        } @else{
                             <mat-icon class="senha-sem-erro" fontIcon="check_circle"></mat-icon>
                            <span class="senha-sem-erro">Uma letra maiúscula</span>
                        }
                    </li>

                    <li>
                        @if (form.get('senha')?.hasError('semLetraMinuscula') || !form.get('senha')?.value ) {
                            <mat-icon class="senha-com-erro" fontIcon="close"></mat-icon>
                            <span class="senha-com-erro">Uma letra minúscula</span>
                        } @else{
                             <mat-icon class="senha-sem-erro" fontIcon="check_circle"></mat-icon>
                            <span class="senha-sem-erro">Uma letra minúscula</span>
                        }
                    </li>
                    <li>
                        @if (form.get('senha')?.hasError('semNumero') || !form.get('senha')?.value ) {
                            <mat-icon class="senha-com-erro" fontIcon="close"></mat-icon>
                            <span class="senha-com-erro">Um número</span>
                        } @else{
                             <mat-icon class="senha-sem-erro" fontIcon="check_circle"></mat-icon>
                            <span class="senha-sem-erro">Um número</span>
                        }
                    </li>
                    <li>
                        @if (form.get('senha')?.hasError('semCaracterEspecial') || !form.get('senha')?.value ) {
                            <mat-icon class="senha-com-erro" fontIcon="close"></mat-icon>
                            <span class="senha-com-erro">Um caracter especial (exemplo: @ ! $ & #)</span>
                        } @else{
                             <mat-icon class="senha-sem-erro" fontIcon="check_circle"></mat-icon>
                            <span class="senha-sem-erro">Um caracter especial (exemplo: @ ! $ & #)</span>
                        }
                    </li>
                </ul>
            </div>
            <button class = "acessar" type ="submit" matButton="filled" [disabled] = "form.invalid">Cadastre-se</button>
            </form>
        </div>

        <div class = "link-pagina-cadastro">
            <p>Já tem uma conta? <a routerLink="/login">Entrar</a></p>
        </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
    </mat-card-footer>
    </mat-card>
</div>


