body{
    margin:0%;
}

.tela-login {
  height: 100%;          /* altura total da tela */
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;     /* centraliza vertical */
}


.card {
  max-width: 40%;
  height: 90%;
  align-items: center;
}

.card-footer {
  padding: 16px;
}